html, body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  color: $color-primary;
  font-family: $font-normal;
}


/* ---------------------------------------------------
GENERAL CLASSES */


section {
  position: relative;
}

a {
  text-decoration: none;
}

.title__big {
  @include font-size(36);
  font-weight: bold;
}

.text {
  @include font-size(14);
  line-height: 1.3;
}


/**/

@media all and (max-width: 1160px) {
  .wrapper {
    padding: 0 20px;
  }
}
