<template>
  <article class="detail__content">
    
    <div 
      class="detail__content__wrapper"
      v-if="isLoaded">
      <detail-figure :myRecord="record"></detail-figure>

      <div class="detail__content__text">
        <detail-text-header :myRecord="record"></detail-text-header>
        <detail-info 
          :myRecord="record"
          :myIdentifier="identifier">
        </detail-info>
      </div>
    </div>
    <div 
      class="detail__content__wrapper"
      v-else>
      <div class="detail__content__loading">
        <p>Cargando detalle de la obra...</p>
      </div>
    </div>
  </article>
</template>

<script>
import axios from 'axios';

import DetailFigure from '@/components/DetailFigure'
import DetailTextHeader from '@/components/DetailTextHeader'
import DetailInfo from '@/components/DetailInfo'


export default {
  name: 'DetailMuseum',
  components: {
    DetailFigure,
    DetailTextHeader,
    DetailInfo
  },
  props:{
    myIdentifier: String,
    myRecord: Array
  },
  data () {
    return {
      identifier: this.$route.params.id,
      record: [],
      isLoaded: false,
    }
  },
  methods: {
    getDataFromXml : function(stringXml) {
      let parser = new DOMParser();
      let xmlDoc = parser.parseFromString(stringXml,'text/xml');
      let listRecords = xmlDoc.getElementsByTagName('GetRecord')[0];
      let record = listRecords.getElementsByTagName('record')[0];
      let item =  new Object();
      
      item.link = record.getElementsByTagName('dc:identifier')[0].textContent;
      item.title = record.getElementsByTagName('dc:title')[0].textContent;
      item.description = record.getElementsByTagName('dc:description')[0].textContent;
      item.creator = record.getElementsByTagName('dc:creator')[0].textContent;
      item.date = record.getElementsByTagName('dc:date')[0].textContent;
      item.type = record.getElementsByTagName('dc:type')[0].textContent;

      let format = record.getElementsByTagName('dc:format');
      item.image = format[0].textContent;
      item.material = format[1].textContent;

      let measurements = [];

      for (let index = 2; index < format.length; index++) {
        let measur = new Object();
        measur.id = index;
        measur.name = format[index].textContent;
        measurements.push(measur);
      }
      item.measurements = measurements;
      this.record = item;        
    }
  },
  mounted () {
    axios.
    get(`${'https://cors-anywhere.herokuapp.com/'}https://www.rijksmuseum.nl/api/oai/eNkoPCML?verb=GetRecord&metadataPrefix=oai_dc&identifier=oai:rijksmuseum.nl:`+this.identifier,
      { headers: {
          'Content-type': 'application/xml'
        }
      }
    )
    .then( response => {
        this.getDataFromXml(response.data);
        this.isLoaded = true;
    })
  }
}
</script>

<style lang="scss" scoped>

.detail {
  &__content {
    &__wrapper {
      max-width: 1120px;
      margin: 0 auto;
    }
    &__text {
      width: calc((100% / 12 - 2px) * 7);
      display: inline-block;
      vertical-align: top;
    }
    &__loading {
      text-align: center;
      margin: 50px auto;
    }
  }
}

</style>
