<template>
    <div class="directory">
      <div class="directory__wrapper">
          <TheSearchfield 
            :value="search" 
            @input="search = $event"/>
          
          <h3 class="directory__title">Obras</h3>

          <directory-table 
            :myRecords="filteredtableData"
            :myIsLoaded="responseLoad"></directory-table>
            
        </div>
    </div>
    
</template>

<script>
import axios from 'axios';
import TheSearchfield from '@/components/TheSearchfield';
import DirectoryTable from '@/components/DirectoryTable';

export default {
  name: 'ListMuseum',
  components: {
    TheSearchfield,
    DirectoryTable
  },
  props:{
    myIsLoaded: Boolean,
    myRecords: Array
  },
  data () {
    return {
      search: '',
      tableData: [],
      isLoaded: false
    }
  },
  computed:{
    filteredtableData: function(){
      return this.tableData.filter((item) => {
        return item.title.match(this.search);
      });
    },
    responseLoad: function(){
      return this.isLoaded;
    }
  },
  methods:{
    getDataFromXml : function(stringXml){
      let parser = new DOMParser();
      let xmlDoc = parser.parseFromString(stringXml,'text/xml');

      let listRecords = xmlDoc.getElementsByTagName('ListRecords')[0];
      let records = listRecords.getElementsByTagName('record');
      
      for (let index = 0; index < records.length; index++) {
        const record = records[index];

        let item =  new Object();
        item.id = index;
        item.identifier = record.getElementsByTagName('dc:identifier')[1].textContent;
        item.title = record.getElementsByTagName('dc:title')[0].textContent;
        item.creator = record.getElementsByTagName('dc:creator')[0].textContent;
        item.date = record.getElementsByTagName('dc:date')[0].textContent;
        item.type = record.getElementsByTagName('dc:type')[0].textContent;
        item.format = record.getElementsByTagName('dc:format')[1].textContent;
        
        this.tableData.push(item);
        this.orderRecords();
      }
    },
    orderRecords(){
      this.tableData.sort(function(a, b){
          let nameA = a.title.toLowerCase();
          let nameB = b.title.toLowerCase();
        if (nameA < nameB)
            return -1 
        if (nameA > nameB)
            return 1
        return 0
      });

    }
  },
  mounted () {
    axios
    .get(`${'https://cors-anywhere.herokuapp.com/'}https://www.rijksmuseum.nl/api/oai/eNkoPCML?verb=ListRecords&set=subject:PublicDomainImages&metadataPrefix=oai_dc`,
      { headers: {
          'Content-type': 'application/xml'
        }
      }
    )
    .then(response =>{
        this.info = response.data;
        this.getDataFromXml(response.data);
        this.isLoaded = true;
    })
  }
}
</script>

<style lang="scss" scoped>
  .directory {
    &__wrapper {
      max-width: 1120px;
      margin: 0 auto 40px;
      position: relative;
    }

    &__title {
      margin-bottom: 15px;
      @include font-size(18);
    }
  }
  .list {
    &__wrapper {
    }
    &__table {
      width: 100%;
      text-align: left;
      &__row {
        border: 1px solid #DFE3E6;
        border-bottom: none;
      }
      &__head {
        background-color: $color-terciary;
        &__element {
          padding: 15px 0 18px;
          @include font-size(14);
          color: $color-primary;
          &:first-child {
            padding-left: 22px;
          }
          &:last-child {
            padding-right: 22px;
          }
        }
      }
      &__body {
        &__element {
          padding: 15px 0 18px;
          @include font-size(14);
          color: $color-primary;
          &:first-child {
            padding-left: 22px;
          }
          &:last-child {
            padding-right: 22px;
          }
        }
        .list__table__row {
          &:last-child {
            border-bottom: 1px solid #DFE3E6;
            &:hover {
              border-bottom: 1px solid #5596E6;
            }
          }
          &:hover {
            background-color: rgba(85,150,230,0.1);
            border: 1px solid #5596E6;
            cursor: pointer;
          }
        }
      }
    }
    &__pagination {
      text-align: center;
      &__element {
        display: inline-block;
      }
    }
  }
</style>
