<template>
  <div id="app">
    <the-header></the-header>
    <the-breadcrumb></the-breadcrumb>
    <transition name="fade">
      <router-view/>
    </transition>

  </div>
</template>

<script>
import TheHeader from '@/components/TheHeader'
import TheBreadcrumb from '@/components/TheBreadcrumb'

export default {
  data () {
    return {
      name: 'App'
    }
  },
  components: {
    TheHeader,
    TheBreadcrumb
  }
}
</script>

<style>
html, 
body {
  font-family: $font-normal;
  font-kerning: none;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  color: $color-primary;
  font-family: $font-normal;
}
</style>
