<template>
  <div class="detail__content__text__info">
    <div class="detail__content__text__info__block">
      <h4 class="detail__content__text__info__block__title">Identificación</h4>
      <dl class="detail__content__text__info__block__list">
        <dt class="detail__content__text__info__block__list__termn">Título</dt>
        <dd class="detail__content__text__info__block__list__definition">{{myRecord.title}}</dd>
        <dt class="detail__content__text__info__block__list__termn">Tipo de obra</dt>
        <dd class="detail__content__text__info__block__list__definition">{{myRecord.type}}</dd>
        <dt class="detail__content__text__info__block__list__termn">Número de obra</dt>
        <dd class="detail__content__text__info__block__list__definition">{{myIdentifier}}</dd>
        <dt class="detail__content__text__info__block__list__termn">Inscripciones/marcas</dt>
        <dd class="detail__content__text__info__block__list__definition">Firma: ‘{{myRecord.creator}}’</dd>
        <dt class="detail__content__text__info__block__list__termn">Descripción</dt>
        <dd class="detail__content__text__info__block__list__definition">{{myRecord.description}}</dd>
      </dl>
    </div>
    <div class="detail__content__text__info__block">
      <h4 class="detail__content__text__info__block__title">Creación</h4>
      <dl class="detail__content__text__info__block__list">
        <dt class="detail__content__text__info__block__list__termn">Artista</dt>
        <dd class="detail__content__text__info__block__list__definition">{{myRecord.creator}}</dd>
        <dt class="detail__content__text__info__block__list__termn">Fecha</dt>
        <dd class="detail__content__text__info__block__list__definition">{{myRecord.date}}</dd>
      </dl>
    </div>
    <div class="detail__content__text__info__block">
      <h4 class="detail__content__text__info__block__title">Material y Técnica</h4>
      <dl class="detail__content__text__info__block__list">
        <dt class="detail__content__text__info__block__list__termn">Material</dt>
        <dd class="detail__content__text__info__block__list__definition">{{myRecord.material}}</dd>
        <dt class="detail__content__text__info__block__list__termn">Medidas</dt>
        <dd class="detail__content__text__info__block__list__definition">
          <span
           v-for="item in myRecord.measurements"
           :key="item.id">
            {{item.name}}
            <br>
          </span>
        </dd>
      </dl>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DetailInfo',
  props:{
    myIdentifier: String,
    myRecord: Array
  },
  data () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>
.detail {
  &__content {
    &__text {
      &__info {
        margin-top: 50px;

        &__block {
          position: relative;

          &:after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: $color-alt;
            position: absolute;
            bottom: 32px;
          }

          &:last-child {
            &:after {
              display: none;
            }
          }

          &__title {
            @include font-size(14);
            font-weight: bold;
            width: calc((100% / 5 - 12px) * 1);
            display: inline-block;
            vertical-align: top;
            margin-right: 30px;
          }

          &__list {
            width: calc((100% / 5 - 12px) * 4);
            display: inline-block;
            vertical-align: top;
            margin-bottom: 57px;

            &__termn {
              @include font-size(10);
              width: calc((100% / 5 - 6px) * 2);
              display: inline-block;
              vertical-align: top;
              margin-bottom: 16px;
              padding-right: 16px;
              line-height: 1.3;
            }
            &__definition {
              @include font-size(10);
              width: calc((100% / 5 - 6px) * 3);
              display: inline-block;
              vertical-align: top;
              margin-bottom: 16px;
              line-height: 1.3;
            }
          }
        }
      }
    }
  }
}
</style>
