<template>
  <figure class="detail__content__figure">
    <img
      :src="myRecord.image"
      :alt="myRecord.title"
      class="detail__content__figure__image">
  </figure>
</template>

<script>
export default {
  name: 'DetailFigure',
  props:{
    myIdentifier: String,
    myRecord: Array
  },
  data () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>
.detail {
  &__content {
    &__figure {
      width: calc((100% / 12 - 2px) * 4);
      display: inline-block;
      vertical-align: top;
      margin-right: 107px;

      &__image {
        width: 100%;
      }
    }
  }
}
</style>
