<template>
  <header class="detail__content__text__header">
    <h3 :class="['detail__content__text__header__title', fullTitle ? 'full': '']">{{myRecord.title}}</h3>
    <p class="detail__content__text__header__author">{{myRecord.creator}}</p>
    <p class="detail__content__text__header__bio">{{myRecord.description}}</p>
  </header>
</template>

<script>
export default {
  name: 'DetailTextHeader',
  props:{
    myRecord: Array
  },
  data () {
    return {
    }
  },
  computed: {
    fullTitle: function () {
      let lengthString = this.myRecord.title.length;
      return (lengthString > 45) ? true : false;
    }
  }
}
</script>

<style lang="scss" scoped>
.detail {
  &__content {
    &__text {
      &__header {
        &__title {
          @include font-size(36);
          font-weight: bold;
          max-width: 284px;
          margin-bottom: 39px;

          &.full{
            max-width: 100%;
          }
        }

        &__author {
          @include font-size(18);
          font-weight: 300;
          margin-bottom: 15px;
        }

        &__bio {
          @include font-size(14);
          line-height: 1.3;
          margin-bottom: 60px;
        }

        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: $color-secondary;
        }
      }
    }
  }
}
</style>
