<template>
<section class="list">
    
    <div class="list__wrapper" v-if="myIsLoaded">
      <table class="list__table">
         <thead class="list__table__head">
             <tr class="list__table__row">
               <th
                  :class="['list__table__head__element', sortedAsc ? '': 'reverse']"
                  @click="reverseThis()">Obra<img src="../assets/images/accordion-icon.png">
               </th>
               <th class="list__table__head__element">Artista</th>
               <th class="list__table__head__element">Año</th>
               <th class="list__table__head__element">Tipo</th>
               <th class="list__table__head__element">Material/técnica</th>
               <th></th>
             </tr>
         </thead>
         <tbody 
          class="list__table__body" 
          v-if="myRecords.length > 0">
           <tr class="list__table__row"
            v-for="item in myRecords.slice(numStart,numEnd)"
            :key="item.id"
            @click="handleRowClick(item.identifier)">
              <td class="list__table__body__element">{{item.title}}</td>
              <td class="list__table__body__element">{{item.creator}}</td>
              <td class="list__table__body__element">{{item.date}}</td>
              <td class="list__table__body__element">{{item.type}}</td>
              <td class="list__table__body__element">{{item.format}}</td>
              <td class="list__table__body__element--hidden">...</td>
           </tr>
         </tbody>
         <tbody class="list__table__body" v-else>
           <tr class="list__table__row">
            <td class="list__table__body__element" colspan="6"><p>No hay elementos para esa búsqueda</p></td> 
           </tr>
         </tbody>
       </table>

       <div class="list__pagination">
        <a 
          v-if="myRecords.length > 0"
          @click="changePage(1)" 
          :class="['list__pagination__prev', actualPage === 1 ? 'disabled': '']">
          <img src="../assets/images/prev.png">
        </a>
        <ul class="list__pagination__wrapper">
          <li 
            v-for="n in numberOfPages" :key="n"
            :class="['list__pagination__element', actualPage === n ? 'active': '']">
            <a @click="changePage(n)">{{n}}</a>
          </li>
          
        </ul>
        <a 
          v-if="myRecords.length > 0"
          @click="changePage(numberOfPages)"
          :class="['list__pagination__next', actualPage === numberOfPages ? 'disabled': '']">
          <img src="../assets/images/next.png">
        </a>
       </div>
    </div>
    <div class="list__wrapper" v-else>
      <div class="list__wrapper__loading">
        <p>Cargando listado...</p>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'DirectoryTable',
  props:{
    myIsLoaded: Boolean,
    myRecords: Array
  },
  data () {
    return {
      sortedAsc: true,
      rowPerPage: 10,
      actualPage: 1
    }
  },
  computed: {
    totalArray: function() {
      return this.myRecords.length;
    },
    numberOfPages: function() {
      return Math.ceil(this.totalArray/this.rowPerPage);
    },
    numStart: function() {
      let num = ((this.actualPage * this.rowPerPage) - this.rowPerPage);
      return ( num <= 0 ) ? 0 : num;
    },
    numEnd: function() {
      return (this.actualPage * this.rowPerPage);
    }
  },
  methods:{
    handleRowClick: function(id) {
      this.$router.push({ path: `/detail/${id}` });
    },
    reverseThis: function() {
      this.sortedAsc = !this.sortedAsc;
      let way = (this.sortedAsc) ? 'asc' : 'desc';
      this.orderRecords(way);
    },
    changePage: function(page) {
      this.actualPage = page;
    },
    orderRecords(way){
      let nameA; 
      let nameB;

      this.myRecords.sort(function(a, b){
        if( way === 'asc'){
          nameA = a.title.toLowerCase();
          nameB = b.title.toLowerCase();
        }else{
          nameB = a.title.toLowerCase();
          nameA = b.title.toLowerCase();
        }

        if (nameA < nameB)
            return -1 
        if (nameA > nameB)
            return 1
        return 0
      });

    }
  },
}
</script>

<style lang="scss" scoped>

.list {
  &__wrapper {
    &__loading{
      text-align: center;
      margin: 50px auto;
    }
  }

  &__table {
  width: 100%;
  text-align: left;

    &__row {
      border: 1px solid #DFE3E6;
      border-bottom: none;
    }

    &__head {
      background-color: $color-terciary;

      &__element {
        width: 15%;
        padding: 15px 0 18px;
        @include font-size(14);
        color: $color-primary;
        &:hover {
          cursor: pointer;
        }
        &.reverse {
          img {
            transform: rotate(180deg);
          }
        }

        &:first-child {
          padding-left: 22px;
          width: 35%;
        }
        &:last-child {
          padding-right: 22px;
          width: 5%;
        }
        img {
          width: 10px;
          height: 5px;
          margin-bottom: 1px;
          margin-left: 3px;
        }
      }
    }

    &__body {
      &__element {
        padding: 15px 15px 18px 0;
        @include font-size(14);
        color: $color-primary;

        &:first-child {
          padding-left: 22px;
        }
        &:last-child {
          padding-right: 22px;
        }

        &--hidden {
          opacity: 0;

        }
        p {
          text-align: center;
        }
      }

      .list__table__row {
        &:last-child {
          border-bottom: 1px solid #DFE3E6;

          &:hover {
            border-bottom: 1px solid #5596E6;
          }
        }

        &:hover {
          background-color: rgba(85,150,230,0.1);
          border: 1px solid #5596E6;
          cursor: pointer;

          .list__table__body__element {
            &--hidden {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &__pagination {
    text-align: center;
    margin-top: 40px;

    &__prev, &__next, &__wrapper {
      display: inline-block;

      &.disabled {
        opacity: 0.4;
      }

      > img {
          width: 8px;
          height: 12px;
        }

    }
    &__prev, &__next{
      cursor: pointer;
      &.disabled {
        cursor: default
      }
    }

    &__element {
      display: inline-block;
      margin: 0 4px;

      a {
        padding: 6px 12px;
        background-color: transparent;
        color: $color-primary;
        cursor: pointer;

        &:hover {
          color: $color-secondary;
        }
      }

      &.active {
        a {
          padding: 6px 12px;
          background-color: $color-secondary;
          color: white;
          cursor: default;
        }
      }

      &.disabled {
        a {
          color: rgba($color-primary, 0.3);
        }
      }
    }
  }
}
</style>
