<template>
<section class="breadcrumb">
    <div class="breadcrumb--wrapper">
      <ul class="breadcrumb--list">
        <li
          @click="goTo('list')"
          class="breadcrumb--list--element">
          Museo
        </li>
        <li
          @click="goTo('list')"
          class="breadcrumb--list--element">
          Obras de Arte
        </li>
        <li
          :if="breadcrumbDetalle"
          class="breadcrumb--list--element">
          Detalle de la Obra
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  name: 'TheBreadcrumb',
  data () {
    return {
    }
  },
  computed: {
    breadcrumbDetalle: function () {
      let pathName = this.$route.name;
      console.log(pathName);
      return (pathName === 'DetailMuseum') ? true : false;
    }
  },
  methods: {
      goTo : function(path) {
        this.$router.push( { path: `/${path}` } )
      }
  }
}
</script>

<style lang="scss" scoped>

.breadcrumb {
  &--wrapper {
    max-width: 1120px;
    margin: 0 auto;
    padding: 32px 0 47px;
  }

  &--list {
    &--element {
      display: inline-block;
      color: $color-secondary;
      @include font-size(14);
      margin-right: 16px;
      cursor: pointer;

      &:after {
        content: "";
        display: inline-block;
        margin-left: 16px;
        width: 5px;
        height: 13px;
        background-image: url("../assets/images/slash.png");
        background-size: cover;
        margin-bottom: -2px;
      }

      &:last-child {
        font-weight: bold;
        cursor: default;

        &:after {
          font-weight: normal;
        }
      }
    }
  }
}
</style>
