<template>
  <header class="header">
      <div class="header__wrapper">
        <a @click="goTo('list')"
           class="header__hamburguer">
          <img src="../assets/images/hamburger.png" alt="Return to list" class="header__hamburguer__icon">
        </a>
        <h4 class="header__title">Obras de Arte</h4>
      </div>
    </header>
</template>

<script>
export default {
  name: 'TheHeader',
  data () {
    return {
    }
  },
  methods: {
    goTo: function( path ) {
      this.$router.push({ path: `/${path}` })
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  background-color: $color-primary;

  &__wrapper {
    max-width: 1120px;
    margin: 0 auto;
    padding: 20px;
  }

  &__title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 32px;
    color: white;
    font-weight: bold;
    @include font-size(18);
  }

  &__hamburguer {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 16px;
    height: 16px;
    cursor:pointer;

    &__icon {
    width: 100%;
    }
  }
}
</style>
