<template>
  <div class="searchfield">
    <form class="searchfield__form">
      <input type="text" placeholder="Buscar" name="searchfield" class="searchfield__input" v-model="inputVal"><!--
      --><a  @click="fireSearch()"  class="searchfield__button"><img src="../assets/images/search.png" class="searchfield__button__image"></a>
    </form>
  </div>
</template>

<script>
export default {
  name: 'TheSearchfield',
  props:{
    value: String
  },
  data () {
    return {
      inputVal: this.value
    }
  },
  methods:{
    fireSearch: function () {
      // Do Nothing
    }
  },
  watch: {
    inputVal (val) {
      this.$emit('input', val)
    }
  }
}
</script>

<style lang="scss" scoped>

  .searchfield {
    position: absolute;
    top: -70px;
    right: 0;

    &__form {
      height: 30px;
      width: 338px;
      text-align: right;
    }
    &__input {
      height: 30px;
      vertical-align: top;
      padding-left: 12px;
      width: calc(100% - 40px);
      box-sizing: border-box;
      border: none;
      border-bottom: 1px solid grey;
      @include font-size(12);
      font-weight: bold;
      outline: none;
    }
    &__button {
      display: inline-block;
      height: 30px;
      vertical-align: top;
      width: 30px;
      box-sizing: border-box;
      background-color: $color-secondary;
      border: none;

      &__image {
      width: 16px;
      margin: 7px;
      }
    }
  }
</style>
